Document this.
Run wasm-opt explicitly (with aggressive flags) as part of build-wasm-stdlib.
Add a check to the build-wasm xtask for wasm-opt 
download it to .cache/tree-sitter if 
there.[flake8]
ignore =
  ; line too long
  E501,
  ; space after comma (ignored for list in gen-s-parser.py)
  E241,
  ; line break after binary operator
  W504
exclude = third_party,./test/emscripten,./test/spec,./test/wasm-install,./test/lit,./_deps,./build
